extends layout

block content
    h1= title
    p Welcome to #{title}

    button#workButton Work
    button#getRenewable Get all renewables
    button#aboutButton About

    button#getRenewableByIndex Get Renewables By index
    input#renewableByIndexInput(type='number' value='2')
    button#getRenewableByYear Get renewables by year
    input#reneweableByYearInput(type='number' value='2016')

    #elf-view