extends layout

block content
  .jumbotron
        h1= title
  p Welcome to #{title}

  button#workButton.btn.btn-success Work

  button#aboutButton.btn.btn-info About

  button#renewablesButton.btn.btn-success Renewables

  button#renewablesByIndexButton.btn.btn-info Renewables By Index

  button#renewablesByYearButton.btn.btn-success Renewables by year


  #elf-view
