.jumbotron
    h1 Renewables By Year

    .alert.alert-success
        p#display

    .alert.alert-info
        p#display2

    input#reneweableByYearInput(type='number' value='2017' min='2007' max='2017')

    pre#debug
