.jumbotron
    h1 Renewables

    .alert.alert-success
        p#display


.container
    .panel.panel-default
        .panel-heading Renewable
        .panel-body
            .input-group
                span.input-group-btn
                    button#minusButton.btn.btn-danger.btn-number(type="button")
                        span.glyphicon.glyphicon-minus
                input#indexInput.form-control.input-number(type="number", value=0, min='0', max='12')
                span.input-group-btn
                    button#plusButton.btn.btn-success.btn

    .alert.alert-success
        pre#debug
